.success-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.success-popup__heading {
    margin-bottom: 14px;
}

.success-popup__button{
  text-align: left;
  padding: 0;
}
