.error-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: #F5F6F7;
}

.error-news__text {
  max-width: 70%;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #B6BCBF;
    margin: 0;
    margin-top: 16px;
}

@media screen and (max-width: 500px) {
    .error-news__text {
        width: 288px;
    }
}
