.about{
min-height: 624px;
padding: 80px 104px 80px;
display: flex;
justify-content: space-between;
}
.about__img{
width: 464px;
height: 464px;
border-radius: 1000px;
margin:0;
padding: 0;
object-fit: cover;

}
.about__content{
    max-width: 600px;
    margin: 0;
    margin-top: 51px;
}
.about__title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 0;
    margin-bottom: 24px;
}
.about__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin: 0;
    margin-bottom: 24px;
}