.navigation {
    min-height: 80px;
    display: flex;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    /* box-shadow: inset 0px -1px 0px; */
    align-items: center;
    padding-left: 104px;
    padding-right: 104px;
    display: flex;
    justify-content: space-between;
}

.navigation_open {
    background: #1A1B22;
    padding: 0;
    border: 0px;
    position: relative;
}

.white {
    background: white;
}

.navigation_line {
    box-shadow: inset 0px -1px 0px #D1D2D6;
}

.navigation__link {
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* color: #FFFFFF; */
    color: inherit;
    margin-right: 34px;
    padding-bottom: 27px;
    padding-left: 9.5px;
    padding-right: 9.5px;
}

.underlined {
    border-bottom: solid 3px;
    border-bottom-color: inherit;
}

.navigation__logo {
    text-decoration: none;
    font-family: Roboto Slab, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* color: #FFFFFF; */
    color: inherit;
}

.navigation__button {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    border: 1px solid;
    border-color: inherit;
    /* color: #FFFFFF; */
    color: inherit;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
    border-radius: 100px;
    width: 176px;
    height: 48px;
    cursor: pointer;
}

.navigation__logout-button {
    background-image: url('../../images/logout.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-color: transparent;
    border: 1px solid;
    border-color: inherit;
    /* color: #FFFFFF; */
    color: inherit;
    text-align: left;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
    width: 112px;
    height: 48px;
}

.navigation__burger-button {
    background: url('../../images/burger-button.svg');
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    border: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.navigation__close-button {
    background: url('../../images/close-button.svg');
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    border: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.navigation__burger-button_black {
    background: url('../../images/burger-button-black.svg');
}

.navigation__close-button_black {
    background: url('../../images/close-button-black.svg');
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    border: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

@media screen and (max-width: 1024px) {
    .navigation {
        min-height: 66px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .navigation__link {
        padding-bottom: 21px;
    }
}

@media screen and (max-width: 800px) {
    .navigation__link {
        font-size: 16px;
        padding-bottom: 21px;
    }
    .navigation__button {
        font-size: 16px;
        width: 152px;
        height: 40px;
    }
    .navigation__column-links_mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: -174px;
        width: 100%;
        background: #1A1B22;
        height: 174px;
    }
    .white {
        background: white;
    }
    .navigation__link_mobile {
        margin: 0;
        padding: 0;
        font-family: Roboto, Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 56px;
        border-bottom: 0;
        padding-left: 40px;
        margin-top: 16px;
    }
    .navigation__button_mobile {
        margin-left: auto;
        margin-right: auto;
        width: 288px;
        height: 56px;
        margin-top: 22px;
        margin-bottom: 24px;
        font-family: Roboto, Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 56px;
    }
}

@media screen and (max-width: 650px) {
    .navigation {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 375px) {}
