.news-card-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.news-card-list__item {
    /* max-width: 400px; */
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 800px) {
    /* .news-card-list {
        grid-template-columns: 1fr 1fr;
    } */
}

@media screen and (max-width: 720px) {
    .news-card-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* margin-top: 58px; */
    }
}

@media screen and (max-width: 375px) {
    .news-card-list {
        /* margin-left: auto;
        margin-right: auto; */
    }
}